<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ru.clevertec.house.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>HouseController</servlet-name>
        <servlet-class>ru.clevertec.house.controller.HouseController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HouseController</servlet-name>
        <url-pattern>/house</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersonController</servlet-name>
        <servlet-class>ru.clevertec.house.controller.PersonController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PersonController</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResidentController</servlet-name>
        <servlet-class>ru.clevertec.house.controller.ResidentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResidentController</servlet-name>
        <url-pattern>/resident</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>ru.clevertec.house.controller.HomeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>